##---------------------------------------------------------------------------------------------------------------------------##
###############################################################################################################################
##---------------------------------------------------------------------------------------------------------------------------##
##
## Abstract:
##   Initialization file ~/.inputrc implements run-time configuration for the Readline library. It is interpreted whenever a
## program using the Readline library starts up.
##
## Details:
##   None.
##
## References:
## - GNU Readline Library
##   --> http://tiswww.case.edu/php/chet/readline/readline.html
## - stty(1) man page
##   --> $ man stty
##
## Author:
##   Michael H. Pock || MHP || mhp77@gmx.at
##
## © Copyleft 2016 MHP
##
##---------------------------------------------------------------------------------------------------------------------------##
###############################################################################################################################
##---------------------------------------------------------------------------------------------------------------------------##


## ********** Variables **********

set bind-tty-special-chars      off

set expand-tilde                on

set mark-symlinked-directories  on

set show-all-if-ambiguous       on

##---------------------------------------------------------------------------------------------------------------------------##


## ********** Key Bindings **********

$if mode=emacs

"\C-w":                         kill-region

"\ew":                          copy-region-as-kill

"\C-u":                         universal-argument

$endif

##---------------------------------------------------------------------------------------------------------------------------##


## Local Variables:
## conf-assignment-column: 32
## End:

## LocalWords: inputrc stty
